
//icon bottom sheet

.icon-table-list {
  border-bottom: 1px solid #eee;
  text-align: center;
  margin: 0;
  .table-cell {
    overflow: hidden;
  }
  a {
    display: block;
    color: $black_light;
    border: 1px solid #eee;
    margin-bottom: -1px;
    margin-right: -1px;
    min-height: 30px;
    cursor: pointer;
    i {
      font-size: 28px !important;
    }
  }
}

.icon-select-container {
  height: 350px;
  overflow-y: scroll;
}