/* Icon Font Created with Glifo */

@font-face {
  font-family: "lsicon-1x";
  src: url("#{$get-path-to-fonts}/lsicons/lsicon.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lsicon-1x";
  src: url("#{$get-path-to-fonts}/lsicons/lsicon.eot");
  src: url("#{$get-path-to-fonts}/lsicons/lsicon.eot?#iefix") format("embedded-opentype"),
  url("#{$get-path-to-fonts}/lsicons/lsicon.ttf") format("truetype"),
  url("#{$get-path-to-fonts}/lsicons/lsicon.woff") format("woff"),
  url("#{$get-path-to-fonts}/lsicons/lsicon.svg#lsicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
Use this style for full browser web font support.
You will need to convert your Glifo SVG to the relivant
font formats first. This can be done using any free online
svg font converter.

*/
[class*="icon1x"] {
  font-family: "lsicon-1x" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon1x.icon-categorybdouble:before{
  content: '\e600';
}
.icon1x.icon-categoryshower:before{
  content: '\e601';
}
.icon1x.icon-categoryutehire:before{
  content: '\e602';
}
.icon1x.icon-categorywifi:before{
  content: '\e603';
}
.icon1x.icon-categoryatmdepositcheque:before{
  content: '\e604';
}
.icon1x.icon-categorydecking:before{
  content: '\e605';
}
.icon1x.icon-categorysailmakersyachting:before{
  content: '\e606';
}
.icon1x.icon-categorybutchers:before{
  content: '\e607';
}
.icon1x.icon-categorycricket:before{
  content: '\e608';
}
.icon1x.icon-categoryalterationsclothing:before{
  content: '\e609';
}
.icon1x.icon-categorycategorycurtainsandaccessories:before{
  content: '\e610';
}
.icon1x.icon-categorylawnandturfsupplies:before{
  content: '\e611';
}
.icon1x.icon-categorygutteringandspouting:before{
  content: '\e612';
}
.icon1x.icon-categorysweepingmachinesandservices:before{
  content: '\e613';
}
.icon1x.icon-categoryboringanddrilling:before{
  content: '\e614';
}
.icon1x.icon-cdanddvds:before{
  content: '\e615';
}
.icon1x.icon-categorycaravans:before{
  content: '\e616';
}
.icon1x.icon-boxescartonscases:before{
  content: '\e617';
}
.icon1x.icon-categoryhearingaids:before{
  content: '\e618';
}
.icon1x.icon-categoryliquidators:before{
  content: '\e619';
}
.icon1x.icon-categorybutcherssupplies:before{
  content: '\e620';
}
.icon1x.icon-categoryazlistings:before{
  content: '\e621';
}
.icon1x.icon-categorytvrepairs:before{
  content: '\e622';
}
.icon1x.icon-categorygalvanisingandtinning:before{
  content: '\e623';
}
.icon1x.icon-categoryadultshopsandentertainment:before{
  content: '\e624';
}
.icon1x.icon-categorymetalcutting:before{
  content: '\e625';
}
.icon1x.icon-categoryabrasiveblasting:before{
  content: '\e626';
}
.icon1x.icon-categorycostumes:before{
  content: '\e627';
}
.icon1x.icon-categorysecondhanddealers:before{
  content: '\e628';
}
.icon1x.icon-categoryplasterandplasterboardsupplies:before{
  content: '\e629';
}
.icon1x.icon-categorymatsandmatting:before{
  content: '\e630';
}
.icon1x.icon-landclearingandfirebreaks:before{
  content: '\e631';
}
.icon1x.icon-categorygiftservices:before{
  content: '\e632';
}
.icon1x.icon-categorygardensheds:before{
  content: '\e633';
}
.icon1x.icon-categoryfloorcoverings:before{
  content: '\e634';
}
.icon1x.icon-categoryfarmers:before{
  content: '\e635';
}
.icon1x.icon-categoryswimschoolsandcoaches:before{
  content: '\e636';
}
.icon1x.icon-categorydoolsanddollaccessories:before{
  content: '\e637';
}
.icon1x.icon-categorydiving:before{
  content: '\e638';
}
.icon1x.icon-categorytrainingandstaffdevelopment:before{
  content: '\e639';
}
.icon1x.icon-categorywreckingball:before{
  content: '\e640';
}
.icon1x.icon-generalabout:before{
  content: '\e641';
}
.icon1x.icon-categoryjumpingcastles:before{
  content: '\e642';
}
.icon1x.icon-categoryexporters:before{
  content: '\e643';
}
.icon1x.icon-categoryvinylweldingandrepairs:before{
  content: '\e644';
}
.icon1x.icon-categoryshadesailsandstructures:before{
  content: '\e645';
}
.icon1x.icon-categoryscrapbooking:before{
  content: '\e646';
}
.icon1x.icon-categorybarbers:before{
  content: '\e647';
}
.icon1x.icon-categoryindoorcarpark:before{
  content: '\e648';
}
.icon1x.icon-categorysemiundercovercarpark:before{
  content: '\e649';
}
.icon1x.icon-categorybikerackscarpark:before{
  content: '\e650';
}
.icon1x.icon-categoryweddingarrangementsandservices:before{
  content: '\e651';
}
.icon1x.icon-categorymultiusecarparkpermit:before{
  content: '\e652';
}
.icon1x.icon-categorycarparkunderground:before{
  content: '\e653';
}
.icon1x.icon-categorycarparkrooftop:before{
  content: '\e654';
}
.icon1x.icon-categorycarparkmultilevel:before{
  content: '\e655';
}
.icon1x.icon-categorysheltershade:before{
  content: '\e656';
}
.icon1x.icon-categorypaymenttypemobile:before{
  content: '\e657';
}
.icon1x.icon-categorypaymenttypecards:before{
  content: '\e658';
}
.icon1x.icon-categorycarparkpayanddisplay:before{
  content: '\e659';
}
.icon1x.icon-categorycyclone:before{
  content: '\e660';
}
.icon1x.icon-categoryhydraulicequipmentsalesandrepairs:before{
  content: '\e661';
}
.icon1x.icon-categoryroot:before{
  content: '\e662';
}
.icon1x.icon-categoryspeechpathologists:before{
  content: '\e663';
}
.icon1x.icon-categoryfengshui:before{
  content: '\e664';
}
.icon1x.icon-categoryrelatedservices:before{
  content: '\e665';
}
.icon1x.icon-categoryhandbagssalesandrepairs:before{
  content: '\e666';
}
.icon1x.icon-categorypodiatrists:before{
  content: '\e667';
}
.icon1x.icon-categoryreiki:before{
  content: '\e668';
}
.icon1x.icon-categoryproduceandgrain:before{
  content: '\e669';
}
.icon1x.icon-categorysaws:before{
  content: '\e670';
}
.icon1x.icon-categorysecuritysystemsandconsultants:before{
  content: '\e671';
}
.icon1x.icon-categorytrafficcontrollersandequipment:before{
  content: '\e672';
}
.icon1x.icon-categorychimneysweeps:before{
  content: '\e673';
}
.icon1x.icon-categorysharpeningservices:before{
  content: '\e674';
}
.icon1x.icon-categoryelevatingworkplatformsalesandhire:before{
  content: '\e675';
}
.icon1x.icon-categorysailmakersyachting:before{
  content: '\e676';
}
.icon1x.icon-categoryoilcoolers:before{
  content: '\e677';
}
.icon1x.icon-categorystockfeedandsupplements:before{
  content: '\e678';
}
.icon1x.icon-categorysnackfoods:before{
  content: '\e679';
}
.icon1x.icon-categorytaxis:before{
  content: '\e680';
}
.icon1x.icon-categorywigsandhairpieces:before{
  content: '\e681';
}
.icon1x.icon-categoryindian:before{
  content: '\e682';
}
.icon1x.icon-categoryoliveoilproducers:before{
  content: '\e683';
}
.icon1x.icon-categoryscootersmobilityaids:before{
  content: '\e684';
}
.icon1x.icon-categorystrutssalesandrepairs:before{
  content: '\e685';
}
.icon1x.icon-categorytowing:before{
  content: '\e686';
}
.icon1x.icon-categorytiptruckcontractors:before{
  content: '\e687';
}
.icon1x.icon-categorytrailershire:before{
  content: '\e688';
}
.icon1x.icon-categorywoodchipandsawdustsupplies:before{
  content: '\e689';
}
.icon1x.icon-categorybandschoirsandorchestras:before{
  content: '\e690';
}
.icon1x.icon-categoryoysterfarms:before{
  content: '\e691';
}
.icon1x.icon-categorywaxing:before{
  content: '\e692';
}
.icon1x.icon-categorypastaequipmentandproducts:before{
  content: '\e693';
}
.icon1x.icon-categorypumpssalesandrepairs:before{
  content: '\e694';
}
.icon1x.icon-categorypaintsuppliesandaccessories:before{
  content: '\e695';
}
.icon1x.icon-categoryorthopaedicsurgeons:before{
  content: '\e696';
}
.icon1x.icon-categoryosteopaths:before{
  content: '\e697';
}
.icon1x.icon-categorysurfboardshapers:before{
  content: '\e698';
}
.icon1x.icon-categoryrustproofingservices:before{
  content: '\e699';
}
.icon1x.icon-categoryropeandtwine:before{
  content: '\e700';
}
.icon1x.icon-categorymouldandalgaeremoval:before{
  content: '\e701';
}
.icon1x.icon-categorysheepskinproducts:before{
  content: '\e702';
}
.icon1x.icon-categoryplywoodsandveneers:before{
  content: '\e703';
}
.icon1x.icon-categorytoyshops:before{
  content: '\e704';
}
.icon1x.icon-categoryscreenprinting:before{
  content: '\e705';
}
.icon1x.icon-categorytankcleaningandrepairs:before{
  content: '\e706';
}
.icon1x.icon-categorywashingmachinesanddryersrepairs:before{
  content: '\e707';
}
.icon1x.icon-categorytenniscoaches:before{
  content: '\e708';
}
.icon1x.icon-categoryracquetrestringersandrepairers:before{
  content: '\e709';
}
.icon1x.icon-categorychinese:before{
  content: '\e710';
}
.icon1x.icon-categoryballoonshotair:before{
  content: '\e711';
}
.icon1x.icon-categorypowertools:before{
  content: '\e712';
}
.icon1x.icon-categorysquashcourts:before{
  content: '\e713';
}
.icon1x.icon-categorysolicitorsandlawyers:before{
  content: '\e714';
}
.icon1x.icon-categoryspasandhottubs:before{
  content: '\e715';
}
.icon1x.icon-categoryfourwheeldriveequipmentandaccessories:before{
  content: '\e716';
}
.icon1x.icon-categorycanoeingandkayaking:before{
  content: '\e717';
}
.icon1x.icon-categorydjsmobile:before{
  content: '\e718';
}
.icon1x.icon-categoryspeedometers:before{
  content: '\e719';
}
.icon1x.icon-categoryscaffolding:before{
  content: '\e720';
}
.icon1x.icon-categoryjeansretailers:before{
  content: '\e721';
}
.icon1x.icon-categorysunglasses:before{
  content: '\e722';
}
.icon1x.icon-categorygokarts:before{
  content: '\e723';
}
.icon1x.icon-categorypianoremovals:before{
  content: '\e724';
}
.icon1x.icon-categorybalustrading:before{
  content: '\e725';
}
.icon1x.icon-categoryitalianandpizza:before{
  content: '\e726';
}
.icon1x.icon-categorypots:before{
  content: '\e727';
}
.icon1x.icon-categoryceramics:before{
  content: '\e728';
}
.icon1x.icon-generalfab:before{
  content: '\e729';
}
.icon1x.icon-categorypallets:before{
  content: '\e730';
}
.icon1x.icon-categoryvendingequipment:before{
  content: '\e731';
}
.icon1x.icon-categorythai:before{
  content: '\e732';
}
.icon1x.icon-categoryprocessservers:before{
  content: '\e733';
}
.icon1x.icon-categorytenniscourtshire:before{
  content: '\e734';
}
.icon1x.icon-categoryasphaltandbitumen:before{
  content: '\e735';
}
.icon1x.icon-categorypartitions:before{
  content: '\e736';
}
.icon1x.icon-categoryretainingandrockwalls:before{
  content: '\e737';
}
.icon1x.icon-categorymanchester:before{
  content: '\e738';
}
.icon1x.icon-categorymartialartsinstructionandsupplies:before{
  content: '\e739';
}
.icon1x.icon-categorylingerieandhosiery:before{
  content: '\e740';
}
.icon1x.icon-categorybridalwearandaccessoriessalesandhire:before{
  content: '\e741';
}
.icon1x.icon-categoryhairtreatmentandreplacement:before{
  content: '\e742';
}
.icon1x.icon-categorygraniteandmarble:before{
  content: '\e743';
}
.icon1x.icon-categoryhelicopterservices:before{
  content: '\e744';
}
.icon1x.icon-categoryirrigationandsprinklersystems:before{
  content: '\e745';
}
.icon1x.icon-categorygeneralmaterials:before{
  content: '\e746';
}
.icon1x.icon-categorywelfarefamilyandpersonalservices:before{
  content: '\e747';
}
.icon1x.icon-categoryliftsmaintenanceandservice:before{
  content: '\e748';
}
.icon1x.icon-categorysmallgoodsmfrsandwsalers:before{
  content: '\e749';
}
.icon1x.icon-categorymaternitywear:before{
  content: '\e750';
}
.icon1x.icon-categorymagnetsandmagneticsupplies:before{
  content: '\e751';
}
.icon1x.icon-categorylightingandaccessories:before{
  content: '\e752';
}
.icon1x.icon-categorylawnmowingandmaintenance:before{
  content: '\e753';
}
.icon1x.icon-categorypromotionalproducts:before{
  content: '\e754';
}
.icon1x.icon-categoryrubberandmetalstamps:before{
  content: '\e755';
}
.icon1x.icon-categorygasfitters:before{
  content: '\e756';
}
.icon1x.icon-categorylimousines:before{
  content: '\e757';
}
.icon1x.icon-categoryforkliftssalesandservice:before{
  content: '\e758';
}
.icon1x.icon-categorypaintballandskirmishequipmentandgames:before{
  content: '\e759';
}
.icon1x.icon-categoryfireprotectionconsultantsandequipment:before{
  content: '\e760';
}
.icon1x.icon-categoryhydroponicsequipmentandsupplies:before{
  content: '\e761';
}
.icon1x.icon-categoryexplosives:before{
  content: '\e762';
}
.icon1x.icon-categorycablingfibreoptic:before{
  content: '\e763';
}
.icon1x.icon-categoryengravers:before{
  content: '\e764';
}
.icon1x.icon-categoryfirewoodsupplies:before{
  content: '\e765';
}
.icon1x.icon-categoryicecreammfrsandretailers:before{
  content: '\e766';
}
.icon1x.icon-categoryjetskis:before{
  content: '\e767';
}
.icon1x.icon-categoryracksandstands:before{
  content: '\e768';
}
.icon1x.icon-categoryjuicebars:before{
  content: '\e769';
}
.icon1x.icon-categoryhangglidingandparagliding:before{
  content: '\e770';
}
.icon1x.icon-categoryfilterssalesandservice:before{
  content: '\e771';
}
.icon1x.icon-categorynameplates:before{
  content: '\e772';
}
.icon1x.icon-categorysecretarialandtypingservices:before{
  content: '\e773';
}
.icon1x.icon-categorytattoos:before{
  content: '\e774';
}
.icon1x.icon-categorygunsandammunition:before{
  content: '\e775';
}
.icon1x.icon-categoryopticalsuppliesanddispensers:before{
  content: '\e776';
}
.icon1x.icon-categoryoptometrists:before{
  content: '\e777';
}
.icon1x.icon-categoryfilmproduction:before{
  content: '\e778';
}
.icon1x.icon-categoryfridgerepairs:before{
  content: '\e779';
}
.icon1x.icon-categoryfireplacesandaccessories:before{
  content: '\e780';
}
.icon1x.icon-categorylpgasconversionsvehicle:before{
  content: '\e781';
}
.icon1x.icon-categoryhifiequipment:before{
  content: '\e782';
}
.icon1x.icon-categoryemuandostrichfarmers:before{
  content: '\e783';
}
.icon1x.icon-categoryfurnitureoutdoor:before{
  content: '\e784';
}
.icon1x.icon-categorylaminatingequipmentandservices:before{
  content: '\e785';
}
.icon1x.icon-categorybeeandwaspremoval:before{
  content: '\e786';
}
.icon1x.icon-categorybagsandsacks:before{
  content: '\e787';
}
.icon1x.icon-categorybatteries:before{
  content: '\e788';
}
.icon1x.icon-categoryfruitandvegetables:before{
  content: '\e789';
}
.icon1x.icon-categorycopperandbrassproducts:before{
  content: '\e790';
}
.icon1x.icon-categoryconfectionery:before{
  content: '\e791';
}
.icon1x.icon-categoryturbochargers:before{
  content: '\e792';
}
.icon1x.icon-categorybakeries:before{
  content: '\e793';
}
.icon1x.icon-categorychemicalsuppliers:before{
  content: '\e794';
}
.icon1x.icon-categorytenpinbowling:before{
  content: '\e795';
}
.icon1x.icon-categorymexican:before{
  content: '\e796';
}
.icon1x.icon-categorysmokersinformationandtreatment:before{
  content: '\e797';
}
.icon1x.icon-categorytobacconists:before{
  content: '\e798';
}
.icon1x.icon-categorywesternclothingandaccessories:before{
  content: '\e799';
}
.icon1x.icon-categoryclotheshangers:before{
  content: '\e800';
}
.icon1x.icon-categoryhatsandcaps:before{
  content: '\e801';
}
.icon1x.icon-categorybrakeandclutchservices:before{
  content: '\e802';
}
.icon1x.icon-categorybikesandaccessories:before{
  content: '\e803';
}
.icon1x.icon-categorypoolsafetyandinspections:before{
  content: '\e804';
}
.icon1x.icon-categorycranehire:before{
  content: '\e805';
}
.icon1x.icon-categoryfastenersindustrial:before{
  content: '\e806';
}
.icon1x.icon-categoryformalwearsalesandhire:before{
  content: '\e807';
}
.icon1x.icon-categorybilliardtablesandaccessories:before{
  content: '\e808';
}
.icon1x.icon-categoryknittingwoolaccessories:before{
  content: '\e809';
}
.icon1x.icon-categorymarriagecelebrants:before{
  content: '\e810';
}
.icon1x.icon-categorybirdbreeders:before{
  content: '\e811';
}
.icon1x.icon-categoryafl:before{
  content: '\e812';
}
.icon1x.icon-categorysoccer:before{
  content: '\e813';
}
.icon1x.icon-categorybasketball:before{
  content: '\e814';
}
.icon1x.icon-categoryhockey:before{
  content: '\e815';
}
.icon1x.icon-categoryrugbyleague:before{
  content: '\e816';
}
.icon1x.icon-categoryrugbyunion:before{
  content: '\e817';
}
.icon1x.icon-categorynetball:before{
  content: '\e818';
}
.icon1x.icon-categoryatm:before{
  content: '\e819';
}
.icon1x.icon-categoryairports:before{
  content: '\e820';
}
.icon1x.icon-categoryboatramps:before{
  content: '\e821';
}
.icon1x.icon-cateogoryrailway:before{
  content: '\e822';
}
.icon1x.icon-categorycinema:before{
  content: '\e823';
}
.icon1x.icon-categorypolicestations:before{
  content: '\e824';
}
.icon1x.icon-categoryflorists:before{
  content: '\e825';
}
.icon1x.icon-categoryhomefurnishings:before{
  content: '\e826';
}
.icon1x.icon-categorycafes:before{
  content: '\e827';
}
.icon1x.icon-categorychemists:before{
  content: '\e828';
}
.icon1x.icon-categoryfastfoodoutlets:before{
  content: '\e829';
}
.icon1x.icon-generalglobe:before{
  content: '\e830';
}
.icon1x.icon-categorytyres:before{
  content: '\e831';
}
.icon1x.icon-categorypontoon:before{
  content: '\e832';
}
.icon1x.icon-categoryboatlowtiderestricted:before{
  content: '\e833';
}
.icon1x.icon-categoryboatuserestrictedinwetseason:before{
  content: '\e834';
}
.icon1x.icon-categoryboatlighting:before{
  content: '\e835';
}
.icon1x.icon-categoryboatsandybeachadjecent:before{
  content: '\e836';
}
.icon1x.icon-categorytoiletkeyrequired:before{
  content: '\e837';
}
.icon1x.icon-categoryparkspatrolledbeach:before{
  content: '\e838';
}
.icon1x.icon-categoryboatparking:before{
  content: '\e839';
}
.icon1x.icon-categorytoiletshowers:before{
  content: '\e840';
}
.icon1x.icon-categorytoilettype:before{
  content: '\e841';
}
.icon1x.icon-categorytoiletsharpsdisposal:before{
  content: '\e842';
}
.icon1x.icon-categorytoiletbabychange:before{
  content: '\e843';
}
.icon1x.icon-categorytoiletaccessibletoilet:before{
  content: '\e844';
}
.icon1x.icon-generaltime:before{
  content: '\e845';
}
.icon1x.icon-weathermoon6:before{
  content: '\e846';
}
.icon1x.icon-weathermoon8:before{
  content: '\e847';
}
.icon1x.icon-weathermoon7:before{
  content: '\e848';
}
.icon1x.icon-weathermoon5:before{
  content: '\e849';
}
.icon1x.icon-weathermoon4:before{
  content: '\e850';
}
.icon1x.icon-weathermoon3:before{
  content: '\e851';
}
.icon1x.icon-weathermoon2:before{
  content: '\e852';
}
.icon1x.icon-categorylocalsportingtimetable:before{
  content: '\e853';
}
.icon1x.icon-categorysportsandleisure:before{
  content: '\e854';
}
.icon1x.icon-generallocationlarge:before{
  content: '\e855';
}
.icon1x.icon-generalreview:before{
  content: '\e856';
}
.icon1x.icon-categoryplumber:before{
  content: '\e857';
}
.icon1x.icon-categorypestcontrol:before{
  content: '\e858';
}
.icon1x.icon-categoryelectrician:before{
  content: '\e859';
}
.icon1x.icon-categoryblinds:before{
  content: '\e860';
}
.icon1x.icon-categoryparksskatepark:before{
  content: '\e861';
}
.icon1x.icon-categoryparksbarbecues:before{
  content: '\e862';
}
.icon1x.icon-categoryparksflorafauna:before{
  content: '\e863';
}
.icon1x.icon-categoryparkssportingfacilities:before{
  content: '\e864';
}
.icon1x.icon-categoryparkscamping:before{
  content: '\e865';
}
.icon1x.icon-categoryparksplayground:before{
  content: '\e866';
}
.icon1x.icon-categoryparkspicnicfacilities:before{
  content: '\e867';
}
.icon1x.icon-categorytoilets:before{
  content: '\e868';
}
.icon1x.icon-weatherfrostsun:before{
  content: '\e869';
}
.icon1x.icon-weatherfogsun:before{
  content: '\e870';
}
.icon1x.icon-weatherrainsnow:before{
  content: '\e871';
}
.icon1x.icon-weatherclouds:before{
  content: '\e872';
}
.icon1x.icon-weathercloudsrain:before{
  content: '\e873';
}
.icon1x.icon-weathercloudssnow:before{
  content: '\e874';
}
.icon1x.icon-weatherstorm:before{
  content: '\e875';
}
.icon1x.icon-weathercloudswindsnow:before{
  content: '\e876';
}
.icon1x.icon-weatherfrost:before{
  content: '\e877';
}
.icon1x.icon-weatherfog:before{
  content: '\e878';
}
.icon1x.icon-weathercloudswindrain:before{
  content: '\e879';
}
.icon1x.icon-weathercloudswind:before{
  content: '\e880';
}
.icon1x.icon-weathersunclouds:before{
  content: '\e881';
}
.icon1x.icon-weathersuncloudsrain:before{
  content: '\e882';
}
.icon1x.icon-weathersun:before{
  content: '\e883';
}
.icon1x.icon-weatherwind:before{
  content: '\e884';
}
.icon1x.icon-weatherwave:before{
  content: '\e885';
}
.icon1x.icon-generalsaved:before{
  content: '\e886';
}
.icon1x.icon-generalbook:before{
  content: '\e887';
}
.icon1x.icon-generalsave:before{
  content: '\e888';
}
.icon1x.icon-generalalert:before{
  content: '\e889';
}
.icon1x.icon-generaldirections:before{
  content: '\e890';
}
.icon1x.icon-generalprint:before{
  content: '\e891';
}
.icon1x.icon-generalquote:before{
  content: '\e892';
}
.icon1x.icon-generalstarminihalfright:before{
  content: '\e893';
}
.icon1x.icon-generalstarlhalf:before{
  content: '\e894';
}
.icon1x.icon-generalflagmini:before{
  content: '\e895';
}
.icon1x.icon-generaldislikemini:before{
  content: '\e896';
}
.icon1x.icon-generallikemini:before{
  content: '\e897';
}
.icon1x.icon-generallike:before{
  content: '\e898';
}
.icon1x.icon-generaldislike:before{
  content: '\e899';
}
.icon1x.icon-generalstarlarge:before{
  content: '\e900';
}
.icon1x.icon-generalstarlargehalf:before{
  content: '\e901';
}
.icon1x.icon-generalstarmini:before{
  content: '\e902';
}
.icon1x.icon-generalstarminihalf:before{
  content: '\e903';
}
.icon1x.icon-generaldownload:before{
  content: '\e904';
}
.icon1x.icon-generalshare:before{
  content: '\e905';
}
.icon1x.icon-generallogin:before{
  content: '\e906';
}
.icon1x.icon-generallogout:before{
  content: '\e907';
}
.icon1x.icon-generalarrowsesmall:before{
  content: '\e908';
}
.icon1x.icon-generalarrowswsmall:before{
  content: '\e909';
}
.icon1x.icon-generalarrownwsmall:before{
  content: '\e910';
}
.icon1x.icon-generalarrownesmall:before{
  content: '\e911';
}
.icon1x.icon-generalarrowwsmall:before{
  content: '\e912';
}
.icon1x.icon-generalarrownsmall:before{
  content: '\e913';
}
.icon1x.icon-generalarrowesmall:before{
  content: '\e914';
}
.icon1x.icon-generalarrowssmall:before{
  content: '\e915';
}
.icon1x.icon-generalarrowselarge:before{
  content: '\e916';
}
.icon1x.icon-generalarrowswlarge:before{
  content: '\e917';
}
.icon1x.icon-generalarrownwlarge:before{
  content: '\e918';
}
.icon1x.icon-generalarrownnelarge:before{
  content: '\e919';
}
.icon1x.icon-generalarrowwlarge:before{
  content: '\e920';
}
.icon1x.icon-generalarrownlarge:before{
  content: '\e921';
}
.icon1x.icon-generalarrowelarge:before{
  content: '\e922';
}
.icon1x.icon-generalarrowslarge:before{
  content: '\e923';
}
.icon1x.icon-generalcaretleftlarge:before{
  content: '\e924';
}
.icon1x.icon-generalcaretuplarge:before{
  content: '\e925';
}
.icon1x.icon-generalcaretrightlarge:before{
  content: '\e926';
}
.icon1x.icon-generalcaretdownlarge:before{
  content: '\e927';
}
.icon1x.icon-generalcaretupmedium:before{
  content: '\e928';
}
.icon1x.icon-generalcaretleftmedium:before{
  content: '\e929';
}
.icon1x.icon-generalcaretrightmedium:before{
  content: '\e930';
}
.icon1x.icon-generalcaretdownmedium:before{
  content: '\e931';
}
.icon1x.icon-generalcaretleftsmall:before{
  content: '\e932';
}
.icon1x.icon-generalcaretupsmall:before{
  content: '\e933';
}
.icon1x.icon-generalcaretrightsmall:before{
  content: '\e934';
}
.icon1x.icon-generalcaretdownsmall:before{
  content: '\e935';
}
.icon1x.icon-generalstatslarge:before{
  content: '\e936';
}
.icon1x.icon-generalcollapse:before{
  content: '\e937';
}
.icon1x.icon-generalboatcrosscurrents:before{
  content: '\e938';
}
.icon1x.icon-generalsort:before{
  content: '\e939';
}
.icon1x.icon-generalrefine:before{
  content: '\e940';
}
.icon1x.icon-generallist:before{
  content: '\e941';
}
.icon1x.icon-generalxlarge:before{
  content: '\e942';
}
.icon1x.icon-generalpluslarge:before{
  content: '\e943';
}
.icon1x.icon-generalminuslarge:before{
  content: '\e944';
}
.icon1x.icon-generalxsmall:before{
  content: '\e945';
}
.icon1x.icon-generalplussmall:before{
  content: '\e946';
}
.icon1x.icon-generalminussmall:before{
  content: '\e947';
}
.icon1x.icon-generalticksmall:before{
  content: '\e948';
}
.icon1x.icon-generalclear:before{
  content: '\e949';
}
.icon1x.icon-generaladd:before{
  content: '\e950';
}
.icon1x.icon-generaldelete:before{
  content: '\e951';
}
.icon1x.icon-generalticklarge:before{
  content: '\e952';
}
.icon1x.icon-generalmore:before{
  content: '\e953';
}
.icon1x.icon-generalmenu:before{
  content: '\e954';
}
.icon1x.icon-generalqrcode:before{
  content: '\e955';
}
.icon1x.icon-generalrefresh:before{
  content: '\e956';
}
.icon1x.icon-generalcalllarge:before{
  content: '\e957';
}
.icon1x.icon-generalsearchmini:before{
  content: '\e958';
}
.icon1x.icon-generalsearchlarge:before{
  content: '\e959';
}
.icon1x.icon-categorynearme:before{
  content: '\e960';
}
.icon1x.icon-generalcallmini:before{
  content: '\e961';
}
.icon1x.icon-generalcurrentlocationmini:before{
  content: '\e962';
}
.icon1x.icon-generalpindropmini:before{
  content: '\e963';
}
.icon1x.icon-categoryplaceofworship:before{
  content: '\e964';
}
.icon1x.icon-categorycommunity:before{
  content: '\e965';
}
.icon1x.icon-categoryhairandbeauty:before{
  content: '\e966';
}
.icon1x.icon-categorybarsandnightclubs:before{
  content: '\e967';
}
.icon1x.icon-categoryrestaurants:before{
  content: '\e968';
}
.icon1x.icon-categorycookingclass:before{
  content: '\e969';
}
.icon1x.icon-categorynewsagents:before{
  content: '\e970';
}
.icon1x.icon-categoryhomeimlookingfor:before{
  content: '\e971';
}
.icon1x.icon-categoryaboriginalservicesgeneral:before{
  content: '\e972';
}
.icon1x.icon-categoryemergencyand24hourhelp:before{
  content: '\e973';
}
.icon1x.icon-categorylibraries:before{
  content: '\e974';
}
.icon1x.icon-categorycolleges:before{
  content: '\e975';
}
.icon1x.icon-categoryart:before{
  content: '\e976';
}
.icon1x.icon-categoryinsurance:before{
  content: '\e977';
}
.icon1x.icon-categoryboatshopsnearby:before{
  content: '\e978';
}
.icon1x.icon-categoryfishing:before{
  content: '\e979';
}
.icon1x.icon-categoryboatoverheadpowerlinedanger:before{
  content: '\e980';
}
.icon1x.icon-categoryferries:before{
  content: '\e981';
}
.icon1x.icon-categoryboatmarine:before{
  content: '\e982';
}
.icon1x.icon-categorygardening:before{
  content: '\e983';
}
.icon1x.icon-categorywindows:before{
  content: '\e984';
}
.icon1x.icon-categoryfencing:before{
  content: '\e985';
}
.icon1x.icon-categorysurveyors:before{
  content: '\e986';
}
.icon1x.icon-categoryfabrication:before{
  content: '\e987';
}
.icon1x.icon-categoryphotography:before{
  content: '\e988';
}
.icon1x.icon-categoryhireeventsandweddings:before{
  content: '\e989';
}
.icon1x.icon-categoryclothing:before{
  content: '\e990';
}
.icon1x.icon-categorydoorsandgates:before{
  content: '\e991';
}
.icon1x.icon-categoryworkwear:before{
  content: '\e992';
}
.icon1x.icon-categorystationerysupplies:before{
  content: '\e993';
}
.icon1x.icon-categoryadvertising:before{
  content: '\e994';
}
.icon1x.icon-categorygolf:before{
  content: '\e995';
}
.icon1x.icon-categorypools:before{
  content: '\e996';
}
.icon1x.icon-categoryoutdoorproducts:before{
  content: '\e997';
}
.icon1x.icon-categorycomputers:before{
  content: '\e998';
}
.icon1x.icon-categoryelectricalgoods:before{
  content: '\e999';
}
.icon1x.icon-categorycarsandmotorcycles:before{
  content: '\e1000';
}
.icon1x.icon-categorywholesalersfoodanddrink:before{
  content: '\e1001';
}
.icon1x.icon-categoryequipmentandsuppliesfoodanddrink:before{
  content: '\e1002';
}
.icon1x.icon-categoryofficefurniture:before{
  content: '\e1003';
}
.icon1x.icon-categorymassmedia:before{
  content: '\e1004';
}
.icon1x.icon-categorycounselling:before{
  content: '\e1005';
}
.icon1x.icon-categoryagedcare:before{
  content: '\e1006';
}
.icon1x.icon-categorytransmissionandgearboxes:before{
  content: '\e1007';
}
.icon1x.icon-categorylubricantsandoils:before{
  content: '\e1008';
}
.icon1x.icon-categorypetrolstations:before{
  content: '\e1009';
}
.icon1x.icon-categorytradespeople:before{
  content: '\e1010';
}
.icon1x.icon-categoryimlookingfor:before{
  content: '\e1011';
}
.icon1x.icon-categorypublictransport:before{
  content: '\e1012';
}
.icon1x.icon-categoryreligion:before{
  content: '\e1013';
}
.icon1x.icon-categorygym:before{
  content: '\e1014';
}
.icon1x.icon-categorycoachesandtrainers:before{
  content: '\e1015';
}
.icon1x.icon-categorypostoffices:before{
  content: '\e1016';
}
.icon1x.icon-generalflag:before{
  content: '\e1017';
}
.icon1x.icon-categoryclubs:before{
  content: '\e1018';
}
.icon1x.icon-categorybusinessservices:before{
  content: '\e1019';
}
.icon1x.icon-categoryedcation:before{
  content: '\e1020';
}
.icon1x.icon-categorygarden:before{
  content: '\e1021';
}
.icon1x.icon-categorymarine:before{
  content: '\e1022';
}
.icon1x.icon-category24hourservices:before{
  content: '\e1023';
}
.icon1x.icon-categorycommunitymarkets:before{
  content: '\e1024';
}
.icon1x.icon-categoryjewellery:before{
  content: '\e1025';
}
.icon1x.icon-categoryfurniture:before{
  content: '\e1026';
}
.icon1x.icon-categorysanitarydisposal:before{
  content: '\e1027';
}
.icon1x.icon-categoryfinancialservices:before{
  content: '\e1028';
}
.icon1x.icon-categoryeventsandweddings:before{
  content: '\e1029';
}
.icon1x.icon-categoryshoppingcentres:before{
  content: '\e1030';
}
.icon1x.icon-categorybuildingsupplies:before{
  content: '\e1031';
}
.icon1x.icon-categoryhealthandmedical:before{
  content: '\e1032';
}
.icon1x.icon-categoryengineering:before{
  content: '\e1033';
}
.icon1x.icon-generaledit:before{
  content: '\e1034';
}
.icon1x.icon-categorytravel:before{
  content: '\e1035';
}
.icon1x.icon-generalmapview:before{
  content: '\e1036';
}
.icon1x.icon-categoryairconditioning:before{
  content: '\e1037';
}
.icon1x.icon-categoryglass:before{
  content: '\e1038';
}
.icon1x.icon-categoryhirebuildingsupplies:before{
  content: '\e1039';
}
.icon1x.icon-categoryconcrete:before{
  content: '\e1040';
}
.icon1x.icon-categorytrucks:before{
  content: '\e1041';
}
.icon1x.icon-categorysecurity:before{
  content: '\e1042';
}
.icon1x.icon-categoryproperty:before{
  content: '\e1043';
}
.icon1x.icon-categorycleaners:before{
  content: '\e1044';
}
.icon1x.icon-categoryvenues:before{
  content: '\e1045';
}
.icon1x.icon-categoryrenovations:before{
  content: '\e1046';
}
.icon1x.icon-categorydental:before{
  content: '\e1047';
}
.icon1x.icon-categorymassage:before{
  content: '\e1048';
}
.icon1x.icon-categorybed:before{
  content: '\e1049';
}
.icon1x.icon-categoryhospitals:before{
  content: '\e1050';
}
.icon1x.icon-categorydoctors:before{
  content: '\e1051';
}
.icon1x.icon-categoryequipmenthealthandmedical:before{
  content: '\e1052';
}
.icon1x.icon-categoryequestrian:before{
  content: '\e1053';
}
.icon1x.icon-categoryanimals:before{
  content: '\e1054';
}
.icon1x.icon-categoryappliancerepairs:before{
  content: '\e1055';
}
.icon1x.icon-categoryhomeservices:before{
  content: '\e1056';
}
.icon1x.icon-categoryorganisations:before{
  content: '\e1057';
}
.icon1x.icon-categoryprofessionalservices:before{
  content: '\e1058';
}
.icon1x.icon-categoryeatanddrink:before{
  content: '\e1059';
}
.icon1x.icon-categoryonthego:before{
  content: '\e1060';
}
.icon1x.icon-categoryautomotive:before{
  content: '\e1061';
}
.icon1x.icon-categoryalcoholanddrugservices:before{
  content: '\e1062';
}
.icon1x.icon-generalgoback:before{
  content: '\e1063';
}
.icon1x.icon-weathermoon1:before{
  content: '\e1064';
}
.icon1x.icon-categoryartsandentertainment:before{
  content: '\e1065';
}
.icon1x.icon-generalwebsite:before{
  content: '\e1066';
}
